.product {
    position: relative;
    padding: 10px;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.body {
    flex-flow: column;
    display: -ms-flexbox;
    flex-grow: 1;
    min-width: 0;
}

.w-0 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}